/* General styles for the container */
.container {
  display: flex;
  flex-wrap: wrap; /* Ensure that cards wrap into new rows if necessary */
  justify-content: space-around;
  /* Add spacing between cards */
  padding: 20px;
  margin: 0 auto;
}

/* General styles for each card */
.card {
  flex-basis: calc(33.33% - 40px); /* 3 cards per row on large screens */
  margin: 20px;
  padding: 20px;
  border: 1px solid #9333ea;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px #a855f7;
}

/* Styling for card images */
.card img {
  width: 100%; /* Image will fill the width of the card container */
  height: 200px; /* Set a uniform height */
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
  margin-bottom: 15px;
}

/* Styling for card titles */
.card h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

/* Styling for card text */
.card p {
  font-size: 1em;
  color: #555;
}

/* Styling for card links */
.card a {
  text-decoration: none;
  color: #9333ea;
  font-weight: bold;
}
a:hover{
  color: #a855f7;;
}
/* Media query for large screens (desktops and laptops) */
@media (min-width: 1024px) {
  .card {
    flex-basis: calc(33.33% - 40px); /* Exactly 3 cards per row */
  }
}

/* Media query for medium screens (tablets) */
@media (max-width: 1023px) {
  .card {
    flex-basis: calc(50% - 40px); /* 2 cards per row on medium screens */
  }
}

/* Media query for small screens (mobile devices) */
@media (max-width: 768px) {
  .card {
    flex-basis: 100%; /* 1 card per row on small screens */
    margin: 10px 0;
  }
}
