@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-text h1,
  .animate-text p {
    animation: slideUp 1s ease-out;
  }
  
  .animate-text h1 {
    animation-delay: 0.5s;
  }
  
  .animate-text p {
    animation-delay: 1s;
  }
  