.slider {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 50px auto;

    
  }
  
  .slide-track {
    display: flex;
    width: calc(250px * 7); /* Adjust based on the number of images and their width */
    animation: scroll 20s linear infinite;
    gap: 40px;
  }
  
  .slide {
    flex: 0 0 auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slide img {
    display: block;
  }
  .services{

    width: 80%;
    margin: 90px auto;
   
  }
  .online-form{
 width:80%;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideIn {
    animation: slideIn 1s ease-out;
  }
  